<div class="hero-unit">

    <h1 class="headline large">Email Us!</h1>

    <br/>

    <%= render :partial => 'shared/flashes' %>

    <%= form_tag("/inbound_email", :class => "") do %>
        <div class="clearfix">
            <%= label_tag(:email, "Email Address", :class => 'span5') %>
            <%= email_field_tag(:email, nil, :class => 'input span7', :placeholder => 'fauncy@billups.com') %>
        </div>

        <div class="clearfix">
            <%= label_tag(:name, "Your Name", :class => 'span5') %>
            <%= text_field_tag(:name, nil, :class => 'input span7', :placeholder => 'Fauncy Billups') %>
        </div>

        <div class="clearfix">
            <%= label_tag(:subject, "Subject", :class => 'span5') %>
            <%= text_field_tag(:subject, nil, :class => 'input span7', :placeholder => 'OMG!') %>
        </div>

        <div class="clearfix">
            <%= label_tag(:message, "Message", :class => 'span5') %>
            <%= text_area_tag(:message, nil, :class => 'input span7', :placeholder => "I can't wait to moonwalk at your wedding!", :size => '20x10') %>
        </div>

        <div class="row">
            <div class="span11">
                &nbsp;
            </div>
            <%= submit_tag("Send", :class => 'btn primary span2', :id => 'contact_button') %>
        </div>
    <% end %>
</div>


<div class="row center">
        <div class="span8">
        <h3>Her</h3>
        <ul style="list-style-type: none;">
            <li>Tel: three-oh-four 282-9260</li>
            <li>Email: aegeorge4 _at_ gmail</li>
            <li>Twitter: <%= link_to '@aegeorge4', 'http://twitter.com/aegeorge4' %> </li>
        </ul>
    </div>

    <div class="span8">
        <h3>Him</h3>
        <ul style="list-style-type: none;">
            <li>Tel: three-oh-four 282-5400</li>
            <li>Email: ewryan _at_ gmail</li>
            <li>Twitter: <%= link_to '@ericwryan', 'http://twitter.com/ericwryan' %> </li>
        </ul>
    </div>
</div>



