<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1 class="headline large"><%= link_to "General Potter Farm", "http://generalpotterfarm.com/", :target => "_blank" %></h1>

    <%= image_tag 'general_potter_farm.jpg' %>

    <p>The <%= link_to "General Potter Farm", "http://generalpotterfarm.com/", :target => "_blank" %> is a renovated, 2-story <%= link_to "bank barn", "http://en.wikipedia.org/wiki/Bank_barn", :target => "_blank" %>, built in the 1830s.</p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span-one-third">
        <h1>Afar</h1>
        <h5>State College Airport (<%= link_to 'Map', 'http://g.co/maps/kzuwc', :target => "_blank"  %>)</h5>
        <p>Flying into State College Airport (SCE) is probably your best bet.  The airport is about five miles north of downtown State College.
        There aren't many direct flights into SCE, so you'll probably have to end up connecting.</p>

        <h5>Harrisburg Airport (<%= link_to 'Map', 'http://g.co/maps/33f4t', :target => "_blank"  %>)</h5>
        <p>The other major airport in the vicinity is in Harrisburg, PA (MDT).  The drive from Harrisburgh should take just over two hours.</p>

        <h5>Pittsburgh Airport (<%= link_to 'Map', 'http://g.co/maps/ga8ey', :target => "_blank"  %>)</h5>
        <p>The last airport to mention is Pittsburgh International (PGH).  The drive from Pittsbugh is roughly three hours.  Pittsburgh
        is a major airport, so this option will probably yeild the cheapest airfare. </p>

    </div>
    <div class="span-one-third">
        <h1>Close</h1>

        <h5>From Delaware (<%= link_to 'Map', 'http://g.co/maps/kns4b', :target => "_blank"  %>)</h5>
        <p>Four hour drive from Newark, DE</p>

        <h5>From Pittsburgh (<%= link_to 'Map', 'http://g.co/maps/4ns8d', :target => "_blank"  %>)</h5>
        <p>Three hour drive from Pittsburgh.</p>

        <h5>From Philadelphia (<%= link_to 'Map', 'http://g.co/maps/5qr36', :target => "_blank"  %>)</h5>
        <p>Three and a half hour drive from Philadelphia.</p>

        <h5>From Baltimore (<%= link_to 'Map', 'http://g.co/maps/xs688', :target => "_blank"  %>)</h5>
        <p>Three hour drive from Baltimore.</p>

    </div>
    <div class="span-one-third">
        <h1>Local</h1>
        <h5>From State College (<%= link_to 'Map', 'http://g.co/maps/uwxmp', :target => "_blank"  %>)</h5>
        <p>General Potter Farm is located twenty minutes east of State College.  We will be providing bus transportation from the hotel to General Potter Farm.  The address of the               venue is</p>
        <br/>
        <p><i>General Potter Farm</i></p>
        <p><i>2843 General Potter Highway</i></p>
        <p><i>Potters Mills, PA 16875</i></p>

    </div>
</div>

<br />
<br />

<div class="row">
    <div class="center">
        <iframe width="500" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=General+Potter+Farm,+2843+General+Potter+Highway,+Potters+Mills,+PA+16875&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=57.161276,96.679688&amp;vpsrc=6&amp;ie=UTF8&amp;hq=General+Potter+Farm,+2843+General+Potter+Highway,+Potters+Mills,+PA+16875&amp;hnear=&amp;radius=15000&amp;t=m&amp;cid=85072289478619882&amp;ll=40.809002,-77.629395&amp;spn=0.062366,0.109863&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe>

        <br/>

        <small><a class="right" href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=General+Potter+Farm,+2843+General+Potter+Highway,+Potters+Mills,+PA+16875&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=57.161276,96.679688&amp;vpsrc=6&amp;ie=UTF8&amp;hq=General+Potter+Farm,+2843+General+Potter+Highway,+Potters+Mills,+PA+16875&amp;hnear=&amp;radius=15000&amp;t=m&amp;cid=85072289478619882&amp;ll=40.809002,-77.629395&amp;spn=0.062366,0.109863&amp;z=13&amp;iwloc=A">View Larger Map</a></small>

    </div>

</div>
