<div class="hero-unit">
    <h1 class="headline large">Wedding Party</h1>
    <br/>
    <br/>

    <h2 class="headline">Bridesmaids</h2>
    <br/>

    <table class="wedding_party">
        <tr class="alternate">
            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/alex.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Alex George - Maid of Honor</h4>
                <ul>
                    <li><b>Relationship:</b> Sister</li>
                    <li><b>Current Location:</b> Boulder, CO</li>
                    <li><b>Most Likely To:</b> Get the Bride in trouble at the Bachelorette Party</li>
                </ul>
            </td>

            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/ashley.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Ashley Corvin - Maid of Honor</h4>
                <ul>
                    <li><b>Relationship:</b> Sister</li>
                    <li><b>Current Location:</b> State College, PA</li>
                    <li><b>Most Likely To:</b> Request rap songs from the early 2000's</li>
                </ul>
            </td>
        </tr>

        <tr class="primary">
            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/jerz.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Megan Mazzeo</h4>
                <ul>
                    <li><b>Relationship:</b> College Friend</li>
                    <li><b>Current Location:</b> Dunellen, NJ</li>
                    <li><b>Most Likely To:</b> Grab the mic and bust out in song</li>
                </ul>
            </td>

            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/lauren.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Lauren Spang</h4>
                <ul>
                    <li><b>Relationship:</b> Childhood Friend</li>
                    <li><b>Current Location:</b> London, UK</li>
                    <li><b>Most Likely To:</b> Embarass the bride with childhood stories</li>
                </ul>
            </td>
        </tr>

        <tr class="alternate">
            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/kerri.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Kerri Polak</h4>
                <ul>
                    <li><b>Relationship:</b> Childhood Friend</li>
                    <li><b>Current Location:</b> Philadelphia, PA</li>
                    <li><b>Most Likely To:</b> Shed a tear</li>
                </ul>
            </td>

            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/anderton.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Ashley Anderton</h4>
                <ul>
                    <li><b>Relationship:</b> Childhood Friend</li>
                    <li><b>Current Location:</b> Austin, TX</li>
                    <li><b>Most Likely To:</b> Lead the entire party in a square dance to "Cotton Eye Joe"</li>
                </ul>
            </td>
        </tr>

    </table>

    <br/>
    <br/>
    <br/>

    <h2 class="headline">Groomsmen</h2>
    <br/>

    <table class="wedding_party">
        <tr class="alternate">
            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/sean.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Sean Ryan - Best man</h4>
                <ul>
                    <li><b>Relationship:</b> Brother</li>
                    <li><b>Current Location:</b> Tampa, FL</li>
                    <li><b>Most Likely To:</b> Charm any woman over the age of 35</li>
                </ul>
            </td>

            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/brandon.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Brandon Corvin</h4>
                <ul>
                    <li><b>Relationship:</b> Future Brother-in-Law</li>
                    <li><b>Current Location:</b> State College, PA</li>
                    <li><b>Most Likely To:</b> Be the life of the party (before the wedding even begins)</li>
                </ul>
            </td>
        </tr>

        <tr class="primary">
            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/mark.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Mark Blanchard</h4>
                <ul>
                    <li><b>Relationship:</b> College Friend</li>
                    <li><b>Current Location:</b> Raleigh, NC</li>
                    <li><b>Most Likely To:</b> Be Canadian</li>
                </ul>
            </td>

            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/ryan.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Ryan Salvail</h4>
                <ul>
                    <li><b>Relationship:</b> College Friend</li>
                    <li><b>Current Location:</b> Washington D.C.</li>
                    <li><b>Most Likely To:</b> Remind us all of our love of Neil Diamon</li>
                </ul>
            </td>
        </tr>

        <tr class="alternate">
            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/tommy.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Tommy Adamski</h4>
                <ul>
                    <li><b>Relationship:</b> Childhood Friend</li>
                    <li><b>Current Location:</b> Tampa, FL</li>
                    <li><b>Most Likely To:</b> Rule the dance floor</li>
                </ul>
            </td>

            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/tim.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Tim Edmonson</h4>
                <ul>
                    <li><b>Relationship:</b> Childhood Friend</li>
                    <li><b>Current Location:</b> Wilmington, DE</li>
                    <li><b>Most Likely To:</b> Get the groom in trouble at the Bachelor Party</li>
                </ul>
            </td>
        </tr>

    </table>
</div>

