<div class="hero-unit">
    <h1 class="headline large">Wedding Party</h1>
    <br/>
    <br/>

    <h2 class="headline">Bridesmaids</h2>
    <br/>

    <table class="wedding_party">
        <tr class="alternate">
            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/alex.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Alexandra George - Maid of Honor</h4>
                <ul>
                    <li>Most Memorable Quote: &quot;Moo Moo Moo, west side&quot;</li>
                    <li>Weapon of Choice: Throwing Stars</li>
                </ul>
            </td>

            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/ashley.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Ashley Corvin - Maid of Honor</h4>
                <ul>
                    <li>Most Memorable Quote: &quot;I'm from where Moose are.&quot;</li>
                    <li>Weapon of Choice: Throwing Stars</li>
                </ul>
            </td>
        </tr>

        <tr class="primary">


            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/jerz.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Megan Mazzeo</h4>
                <ul>
                    <li>Most Memorable Quote: &quot;Moo Moo Moo, west side&quot;</li>
                    <li>Weapon of Choice: Throwing Stars</li>
                </ul>
            </td>

            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/lauren.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Lauren Spang</h4>
                <ul>
                    <li>Most Memorable Quote: &quot;I'm from where Moose are.&quot;</li>
                    <li>Weapon of Choice: Throwing Stars</li>
                </ul>
            </td>
        </tr>

        <tr class="alternate">
            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/kerri.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Kerri Polak</h4>
                <ul>
                    <li>Most Memorable Quote: &quot;Moo Moo Moo, west side&quot;</li>
                    <li>Weapon of Choice: Throwing Stars</li>
                </ul>
            </td>

            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/anderton.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Ashley Anderton</h4>
                <ul>
                    <li>Most Memorable Quote: &quot;I'm from where Moose are.&quot;</li>
                    <li>Weapon of Choice: Throwing Stars</li>
                </ul>
            </td>
        </tr>

    </table>

    <br/>
    <br/>
    <br/>

    <h2 class="headline">Groomsmen</h2>
    <br/>

    <table class="wedding_party">
        <tr class="alternate">
            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/eric.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Sean Ryan - Best man</h4>
                <ul>
                    <li>Most Memorable Quote: &quot;Moo Moo Moo, west side&quot;</li>
                    <li>Weapon of Choice: Throwing Stars</li>
                </ul>
            </td>

            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/brandon.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Brandon Corvin</h4>
                <ul>
                    <li>Most Memorable Quote: &quot;I'm from where Moose are.&quot;</li>
                    <li>Weapon of Choice: Throwing Stars</li>
                </ul>
            </td>
        </tr>

        <tr class="primary">
            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/mark.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Mark Blanchard</h4>
                <ul>
                    <li>Most Memorable Quote: &quot;Moo Moo Moo, west side&quot;</li>
                    <li>Weapon of Choice: Throwing Stars</li>
                </ul>
            </td>

            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/ryan.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Ryan Salvail</h4>
                <ul>
                    <li>Most Memorable Quote: &quot;I'm from where Moose are.&quot;</li>
                    <li>Weapon of Choice: Throwing Stars</li>
                </ul>
            </td>
        </tr>

        <tr class="alternate">
            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/tommy.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Tommy Adamski</h4>
                <ul>
                    <li>Most Memorable Quote: &quot;Moo Moo Moo, west side&quot;</li>
                    <li>Weapon of Choice: Throwing Stars</li>
                </ul>
            </td>

            <td colspan=1 class="wedding_mug"><%= image_tag 'wedding_party/eric.jpg', :class => 'wedding_mug' %></td>
            <td colspan=4>
                <h4>Tim Edmonson</h4>
                <ul>
                    <li>Most Memorable Quote: &quot;I'm from where Moose are.&quot;</li>
                    <li>Weapon of Choice: Throwing Stars</li>
                </ul>
            </td>
        </tr>

    </table>
</div>

