<% if number > 1 %>
    <% @class_string = "clearfix hidden" %>
<% else %>
    <% @class_string = "clearfix showing" %>
<% end %>

<div class="<%= @class_string %>">
    <%= label_tag(:name, "#{number_to_word number} Guest", :class => 'span5') %>
    <%= text_field_tag(:email, nil, :class => 'input span1', :placeholder => 'Mrs.') %>
    <%= text_field_tag(:email, nil, :class => 'input span3', :placeholder => 'First') %>
    <%= text_field_tag(:email, nil, :class => 'input span3', :placeholder => 'Last') %>
    <%= tag "input", {:type => "button", :value => "x", :onclick => "removeGuest()", :class => 'btn small danger span1', :id => 'remove_guest_button'} %>
</div>