<!DOCTYPE html>
<html>
<head>
    <title>amanda & eric</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Fanwood+Text' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+French+Canon:400,400italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27278692-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>

<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand <%= is_active?("home#index") %>" href="/"><span class="headline">amanda <span class="highlight">&</span> eric</span></a>
            <ul class="nav">
                <li class="<%= is_active?("home#wedding_party") %>"><%= link_to "Wedding Party", :controller => "home", :action => "wedding_party" %></li>
                <li class="<%= is_active?("home#directions") %>"><%= link_to "Directions", :controller => "home", :action => "directions" %></li>
                <li class="<%= is_active?("home#lodging") %>"><%= link_to "Lodging", :controller => "home", :action => "lodging" %></li>
                <li><%= link_to "Pictures", "https://plus.google.com/photos/108015937443484303551/albums/5684211146845674273?authkey=CNnS7rKutNnCJQ", :target => "_blank" %></li>
                <li class="<%= is_active?("home#registry") %>"><%= link_to "Registry", :controller => "home", :action => "registry" %></li>
                <li class="<%= is_active?("rsvp#index") %>"><%= link_to "RSVP", :controller => "rsvp", :action => "index" %></li>
                <li class="<%= is_active?("home#contact") %>"><%= link_to "Contact", :controller => "home", :action => "contact" %></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <%= yield %>

    <footer>
        <p>&copy; Big Worm 2011</p>
    </footer>

</div>
<!-- /container -->

</body>
</html>
